html {
  background-repeat: no-repeat;
  min-height: 100vh;
  background: url(./images/wallpaper.png) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: Belwe;
  display: flex;
}

@font-face{
  font-family: Belwe;
  src: url(./font/Font.otf);
}

.header{
  width: 100%;
  color: whitesmoke;
  justify-content: center;
}

.stats-row {
  color: whitesmoke;
  text-align: left;
}

.mainboard{
  background-color: white;
}

.class{
  min-height: 700px;
  width: 500px;
  background: url(./images/Class/Anduin_Wrynn.png);
}
